@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');
.profile {
    display: flex;
    gap: 15px;
}
body > div{
    display: flex;
    align-items: end;
}
.inputRightAlign{
    display: flex;
    justify-content: end;
    padding-right:12px;
}
#main{
     display: flex;
    flex-direction: column;
    width: 80%;
    gap: 50px;
    margin-top: 40px;
    justify-content: start;
    height: 90vh;
    max-height: 80vh;
}
#main > hr{
    width: 100%;
    margin: 0;
    padding: 0;
}
#workspace{
    min-height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.holders {
    display: flex;
    flex-direction: column;
    background-color: #0D0D0D;
    padding: 30px 40px;
    padding-left: 20px;
    border-radius: 6px;
    border: solid 1px #B3B3B3;
    max-height: 50%;
    width: 65%;
    overflow-y: scroll;
}

.searchHolder {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
    margin-bottom: 10px;
}
.tag{
    width: 100%;
    text-align: end;
}
.add{
    text-align: center;
    text-decoration: underline;
    font-family: "kalam";
    font-weight: 100;
}
.add:hover{
    cursor: pointer;
}
.holders>p {
    color: white;
    font-size: 28px;
    font-family: "Jomhuria";
    padding: 0;
    margin-top: 8px;
    margin-bottom: 4px;
}
.formula{
    background-image: url('https://i.imgur.com/ZCUW7js.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 12px;
    padding-bottom: 12px;
    border: 0.87px solid #CCCCCC;
    padding-right: 8px;
    border-radius: 8px;
    padding-left: 8px;
    font-family: "Jomhuria";
    font-size: 24px;
}
.list{
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    gap:8px;
}
.variable {
    background-color: #333333;
    padding-top: 12px;
    padding-bottom: 12px;
    border: 0.87px solid #CCCCCC;
    padding-right: 8px;
    border-radius: 8px;
    padding-left: 8px;
}

.variable>p {
    font-family: "Jomhuria";
    margin: 0;
    padding: 0;
    font-size: 24px;
}

input[type="search"] {
    background-color: rgba(77, 77, 77, 0.30);
    border: solid 1px #B3B3B3;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 12px;
    padding-left: 12px;
    width: 80%;
    color: white;
    font-size: 24px;
    font-family: "Jomhuria";
    border-radius: 24px;
}

.profile p {
    font-family: "Jomhuria";
    font-size: 2rem;
    margin: 0;
    padding-top: 5px;
}

.ppHolder {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    height: 40px;
    width: 40px;
    background-color: #0D0D0D;
    border: solid 1px #B3B3B3;
}

.ppHolder:hover {
    cursor: pointer;
}

#views {
    display: flex;
    flex-direction: column;
    width: 30%;
    gap: 50px;
    margin-top: 40px;
    margin-left: 8px;
    justify-content: start;
    height: 90vh;
    max-height: 80vh;
    overflow-y: scroll;
}